{% extends 'main/base.html' %}
{% load static %}

{% block title %}Mysite | Home{% endblock %}

{% block content %}

<!-- Navbar section -->
<nav class="navbar navbar-expand-md">
    <!-- Brand -->
    <a class="navbar-brand ml-2 ml-lg-5">Devesh Bhushan</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="navbar-toggler-icon fas fa-bars"></i>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-lg-auto ml-2 mr-lg-5">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>
</nav>

{% block main-content %}
<div class="container">
    <div class="row mt-5 mb-5 mr-2">

        <div class="col-2">
            <img src="{% static 'main/images/myphoto.jpg' %}" alt="My photo" class="img-fluid rounded" width="300px">
        </div>

        <div class="col-10">
            <h1>Devesh Bhushan</h1>
            <p>As policymakers grapple with how to address hate speech and disinformation on the internet, they’re eying the legal structure underpinning collaborative software development: legal safe harbors. These safe harbors protect online platforms from liability for the user content that they host, and without these safe harbors, countless user-generated content platforms like GitHub wouldn’t be here today.</p>
        </div>

    </div>
</div>


<div class="container mt-5">
    <h1 class="text-center mb-5">Work Experience</h1>
    
    {% for work in work_experience %}
    <div>
        <h2>{{ work.title }}</h2>
        <p><small>{{ work.workplace }}</small></p>
        <p>{{ work.description }}</p>
        <p><small>Starting date: {{ work.starting_date|date:"F d, Y" }} | Ending date: {{ work.ending_date|date:"F d, Y" }}</small></p>
    </div><hr>
    {% endfor %}

</div>

<div class="container mt-5">
    <h1 class="text-center mb-5">Certificates</h1>
    
    {% for cert in certificate %}
    <div>
        <h2>{{ cert.title }}</h2>
        <p>{{ cert.description }}</p>
        <p><small>Url: <a href="{{ cert.url }}">{{ cert.url }}</a></small></p>
        <p><small>Issue date: {{ cert.issue_date|date:"F d, Y" }}</small></p>
    </div><hr>
    {% endfor %}

</div>

<div class="container mt-5 mb-5">
    <h1 class="text-center mb-5">Projects</h1>
    
    {% for proj in project %}
    <div>
        <h2>{{ proj.title }}</h2>
        <p>{{ proj.description }}</p>
        <p><small>Starting date: {{ proj.starting_date|date:"F d, Y" }} | Ending date: {{ proj.ending_date|date:"F d, Y" }}</small></p>
        
        {% if proj.url %}
            <p><small>Url: <a href="{{ proj.url }}">{{ proj.url }}</a></small></p>
        {% endif %}

    </div><hr>
    {% endfor %}

</div>
{% endblock %}

<!-- Footer section -->
<div class="footer pt-5">
    <div class="container-lg">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <p class="text-center" style="font-size: 26px; margin-bottom: -1px;">Made with <i class="fas fa-heart" style="font-size: 18px; color: red;"></i></p>
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item mr-3"><a href="https://github.com/devesh-bhushan" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item mr-3"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item mr-3"><a href="https://www.linkedin.com/in/devesh-bhushan-284b381aa/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:deepubhushan123@gmail.com" target="_blank"><i class="far fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}